* {
    font-family: 'Courier New', Courier, monospace;
}

div {
    text-align: center;
}

.backgroundstraw {
    background-color: rgb(248, 226, 238);
}

.backgroundcheese {
    background-color: rgb(250, 246, 210);
}

.backgroundchoc {
    background-color: rgba(100, 66, 66, 0.651);
}