* {
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    border: 2px solid black;
}

div {
    text-align: center;
}

.button {
    font-size: 25px;
    padding: 15px;
    border: 2px solid black;
}

.yellow {
    background-color: yellow;
    color: white;
    font-weight: 700;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000
}

#brown {
    background-color: rgba(165, 42, 42, 0.767);

}

#rosa {
    background-color: rgb(255, 192, 234);
}

#background {
    background-color: rgba(78, 221, 240, 0.651);
}

#titlesize {
    font-size: 21px;
}

a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}

a:active {
    color:red;
}
